<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gerenciamento Academico</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <h1>Sistema de Gerenciamento Academico</h1>
    </header>

    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'aluno' %}">Aluno</a>
        <a href="{% url 'avaliacao' %}">Avaliação</a>
        <a href="{% url 'relatorio' %}">Relatório</a>
    </nav>
    

    <div class="container">
        {% comment %} <img src="{% static 'static/download.png' %}" alt="Logo"> {% endcomment %}
        
    </div>

</body>
</html>