<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gerenciamento Academico</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <h1>Sistema de Gerenciamento Academico</h1>
    </header>

    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'aluno' %}">Aluno</a>
        <a href="{% url 'avaliacao' %}">Avaliação</a>
        <a href="{% url 'relatorio' %}">Relatório</a>
    </nav>

    <div class="container">
        <section id="reports" class="section">
            <h2>Relatorios</h2>
            <div>
                <h3>Lista de Alunos</h3>
                <ul id="studentList">
                </ul>
            </div>
            <div>
                <h3>Notas</h3>
                <table id="gradeReport">
                    
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </section>
    </div>

</body>
</html>