<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanças Pessoais</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1 href="./index.html">Finanças Pessoais</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'casdatro_despesa' %}">Cadastrar Despesa</a></li>
                <li><a href="{% url 'cadastro_receita' %}">Cadastrar Receita</a></li>
                <li><a href="{% url 'metas' %}">Cadastrar Meta</a></li>
                
                <li><a href="{% url 'relatorio' %}">Relatório</a></li>
            </ul>
        </nav>
    </header>

    <section id="cadastrar-despesa" class="cadastro">
        <br>
        <form id="form">
            <h2>Cadastrar Despesa</h2>
            <label for="valor-despesa">Valor:</label>
            <input type="number" id="valor-despesa" step="0.01" required>

            <label for="data-despesa">Data:</label>
            <input type="date" id="data-despesa" required>

            <label for="categoria-despesa">Categoria:</label>
            <select id="categoria-despesa" required>
                <option value="moradia">Moradia</option>
                <option value="alimentacao">Alimentação</option>
                <option value="transporte">Transporte</option>
                <option value="lazer">Lazer</option>
                <option value="saude">Saúde</option>
            </select><br>

            <button type="submit">Salvar</button>
        </form>
    </section>

    <footer>
        <p>© 2025 Finanças Pessoais</p>
    </footer>
</body>
</html>