<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanças Pessoais</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    <header>
        <h1 href="./index.html">Finanças Pessoais</h1>
        <nav>
            <ul>
                <li><a href="./despesas.html">Cadastrar Despesa</a></li>
                <li><a href="./receita.html">Lista Receita</a></li>
                <li><a href="./metas.html">Cadastrar Meta</a></li>
                <li><a href="./relatorio.html">Relatório</a></li>
            </ul>
        </nav>
    </header>

    <section class="lista">
        <h2>Lista de Receitas</h2>
        <table>
            <thead>
                <tr>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>R$ 2.000,00</td>
                    <td>10/10/2023</td>
                    <td>Trabalho</td>
                    <td>
                        <button class="editar">Editar</button>
                        <button class="excluir">Excluir</button>
                    </td>
                </tr>
                <!-- Mais linhas aqui -->
            </tbody>
        </table>
    </section>

    <footer>
        <p>© 2023 Finanças Pessoais</p>
    </footer>
</body>
</html>