<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanças Pessoais</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    <header>
        <h1 href="./index.html">Finanças Pessoais</h1>
        <nav>
            <ul>
                <li><a href="./despesas.html">Cadastrar Despesa</a></li>
                <li><a href="./receita.html">Lista Receita</a></li>
                <li><a href="./metas.html">Cadastrar Meta</a></li>
                <li><a href="./relatorio.html">Relatório</a></li>
            </ul>
        </nav>
    </header>

    <section id="relatorio" class="grafico">
        <h2>Distribuição de Despesas</h2>
        <div class="chart-container">
            <canvas id="despesasChart"></canvas>
        </div>
    </section>

    <footer>
        <p>© 2023 Finanças Pessoais</p>
    </footer>
</body>
</html>